.box{
    width: 375px;
    height: 812px;
    flex-shrink: 0;
    background: #FFF;
    color: #FFFFFF;
    align-items: center;
    margin:  100px 100px 100px 575px;
}

.box .background {
    width: 375px;
    height: 88px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(13.591408729553223px);
    color: #FFFFFF;
}

.box .background .statusbar{
    display: inline-flex;
    padding: 8px 14px 13px 21px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 216px;
    color: #000000;
}

.box .background .statusbar text {
    width: 54px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.333px;
}

.box .background header{
    display: flex;
    width: 175px;
    padding: 11px 0px 11px 0px;
    justify-content: center;
    align-items: center;
    color:#000000;
}

.box .background header .text {
    color: #000000;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.408px;
}

.box .back {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 64px;
    background: url(back1.jpg) lightgray 50% / cover no-repeat;
    
}

.box .back text {
    width: 263px;
    height: 36px;
    flex-shrink: 0;
    color: #000000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    
    line-height: 18px; /* 138.462% */
}

.box .back p{
    width: 263px;
    height: 36px;
    flex-shrink: 0;
    color: #000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}

.box .background2 {
    width: 375px;
    height: 1px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(13.591408729553223px);
    color: #FFFFFF;
}

.box .back2{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 64px;
    background: url(back2.jpg) lightgray 50% / cover no-repeat;
}

.box .back2 text {
    width: 263px;
    height: 18px;
    flex-shrink: 0;
    color: #000000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 138.462% */
}

.box .back2 p {
    width: 263px;
    height: 18px;
    flex-shrink: 0;
    color: #000000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}

.box .background3 {
    width: 375px;
    height: 0.5px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #000000 30%;
}

.box .back3{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 64px;
    background: url(back3.jpg), lightgray 50% / cover no-repeat;
}

.box .back3 text{
    width: 263px;
    height: 18px;
    flex-shrink: 0;
    color: #000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 138.462% */
}

.box .back3 p {
    width: 263px;
    height: 36px;
    flex-shrink: 0;
    color: #000000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}

.box .background4 {
    width: 375px;
height: 0.5px;
flex-shrink: 0;
background: rgba(0, 0, 0, 0.30);
color: #000000;
} 

.box .back4{
    width: 64px;
height: 64px;
flex-shrink: 0;
border-radius: 64px;
background: url(back4.jpg) lightgray 50% / cover no-repeat;
}

.box .back4 text{
    width: 263px;
    height: 18px;
    flex-shrink: 0;
    color: #000000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 138.462% */
}

.box .back4 p {
    width: 263px;
    height: 36px;
    flex-shrink: 0;
    color: #000000;
    margin-left: 96px;
    margin-right: 16px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}

.box .background5 {
    width: 375px;
    height: 0.5px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.30);
    color: #000000 30%;
}
